body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.productos {
    padding: 20px;
    text-align: center;
}

.producto {
    background-color: white;
    margin: 15px auto;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
}

.contacto {
    background-color: #fff;
    padding: 30px;
    text-align: center;
}

.contacto h2 {
    margin-bottom: 20px;
}

.contacto form {
    max-width: 400px;
    margin: auto;
}

.contacto input,
.contacto textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contacto textarea {
    height: 100px;
}

.contacto button {
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.contacto button:hover {
    background-color: #444;
}

@media (max-width: 600px) {

    nav a {
        display: block;
        margin: 10px 0;
    }

    .producto {
        width: 90%;
    }
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    font-size: 30px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.producto button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
